name: Update README cards

on:
  push: 
    branches:
      - "main"
      - "master"
  schedule:
    - cron: "0 3 * * *"  # Runs every day at 3 am UTC time
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Generate stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=${{ github.repository_owner }}&rank_icon=percentile&show_icons=true&theme=transparent
          path: docs/assets/profile/gh_stats.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate top languages card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: username=${{ github.repository_owner }}&include_all_commits=true&count_private=true&layout=compact&langs_count=6&theme=transparent
          path: docs/assets/profile/top_langs.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit cards
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add docs/assets/profile/*.svg
          git commit -m "Update README cards" || exit 0
          git push